<ul>
   <li>
      <%=post.content%> <%if (locals.user && post.user.id ==
      locals.user.id){%>
      <large>
         <a href="/posts/destroy/<%=post.id%>">X</a>
      </large>
      <%}%>
   </li>
   <li><%=post.user.name%></li>
   <li><%=post.createdAt%></li>
   <%if(locals.user){%>
   <div class="comments_container">
      <form action="comments/create" method="post">
         <input
            type="text"
            name="content"
            placeholder="Type a comment... "
            required
         />
         <input type="hidden" name="post" value="<%=post._id%>" />
         <input type="submit" value="comment" />
      </form>
   </div>
   <%}%>
</ul>
<div class="comments_container">
   <ul id="<%= post._id%>">
      <%for(comment of post.comments){%> <%-include('_comment')%> <%}%>
   </ul>
</div>
<hr />
