<link rel="stylesheet" href="/css/home.css" />
<h1><%= title%> Page</h1>

<div id="main_content">
   <%if(locals.user){%>
   <section>
      <h1>Add Post</h1>
      <form action="/posts/create" method="post">
         <textarea
            name="feed_post"
            id="feed_post"
            cols="30"
            rows="10"
            required
         ></textarea
         ><br />
         <input type="submit" value="Add" />
      </form>
   </section>
   <%}%>
   <section id="display_posts">
      <%for(let post of posts){%>
      <ul>
         <li><%=post.content%></li>
         <li><%=post.user.name%></li>
         <li><%=post.createdAt%></li>
         <%if(locals.user){%>
         <div class="comments_container">
            <form action="comments/create" method="post">
               <input
                  type="text"
                  name="content"
                  placeholder="Type a comment... "
                  required
               />
               <input type="hidden" name="post" value="<%=post._id%>" />
               <input type="submit" value="comment" />
            </form>
         </div>
         <%}%>
      </ul>
      <div class="comments_container">
         <ul id="<%= post._id%>">
            <%for(let comment of post.comments){%>
            <li><%=comment.content%></li>
            <li><small><%=comment.user.name%></small></li>
            <%}%>
         </ul>
      </div>
      <hr />
      <%}%>
   </section>
</div>
