<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1.0"
      />
      <title><%= title%></title>
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
      />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
      <link rel="stylesheet" href="/css/layout.css" />
      <%- style %>
   </head>
   <body>
      <!-- //this is header partial  -->
      <%- include('_header')%>
      <!-- //this is for variable content of website  -->
      <div class="main"><%- body %></div>
      <!-- //this is footer partial  -->
      <%-include('_footer')%>
      <!-- will provide scripts of vaiable part -->
      <%- script %>
      <script>
         <% if(flash.success && flash.success.length > 0){ %>
            new Noty({
               type:'success',
               layout:'topRight',
               text: '<%= flash.success%>',
               theme:'metroui',
               timeout:1500,

            }).show();
         <% } %>
         <% if(flash.error && flash.error.length > 0){ %>
            new Noty({
               type:'error',
               layout:'topRight',
               text: '<%= flash.error%>',
               theme:'metroui',
               timeout:1500,

            }).show();
         <% } %>
      </script>
   </body>
</html>
