<link rel="stylesheet" href="/css/user_profile.css" />

<img src="<%=user.avatar%>" alt="<%= user.name %> " width="100" />
<%if(user.id == selected_user.id){%>
<form
   action="/users/update/<%= selected_user.id %> "
   method="post"
   enctype="multipart/form-data"
>
   <label for="name">Your Name</label>
   <input
      type="text"
      name="name"
      value="<%= selected_user.name %> "
      required
   />
   <br />
   <br />
   <label for="email">Your Email</label>
   <input
      type="email"
      name="email"
      value="<%= selected_user.email %> "
      required
   />
   <br />
   <br />
   <input
      type="file"
      name="avatar"
      id="avatar"
      placeholder="Your Pic..."
   />
   <br />
   <br />
   <input type="submit" value="Save" />
</form>
<%}else{%>
<p><%= selected_user.name%></p>
<p><%= selected_user.email%></p>
<%}%>
